
!lucius
*background:  #303030
*foreground:  #d7d7d7
*cursorColor: #87afd7
*color0:      #303030
*color8:      #303030
*color1:      #ff5f5f
*color9:      #ff5f5f
*color2:      #afd787
*color10:     #afd787
*color3:      #d7d7af
*color11:     #d7d7af
*color4:      #87d7ff
*color12:     #87d7ff
*color5:      #d7afd7
*color13:     #d7afd7
*color6:      #87d7af
*color14:     #87d7af
*color7:      #d7d7d7
*color15:     #d7d7d7

! Render setting for cairo -> pango -> gtk
Xft.dpi:        96
Xft.antialias:  true
Xft.hinting:    true
Xft.rgba:       none
Xft.hintstyle:  hintslight

!URxvt*font:                           -*-terminus-medium-r-*-*-12-*-*-*-*-*-*-*
!URxvt*boldFont:                       -*-terminus-medium-r-*-*-12-*-*-*-*-*-*-*
URxvt*font:                           xft:Hack:size=10
URxvt*boldFont:                       xft:Hack:size=10

URxvt.depth: 32
!URxvt.background: #1c2023
!URxvt*foreground: #ffffff
URxvt*geometry:   110x37
URxvt*externalBorder:                 0
URxvt*internalBorder:                 5

!URxvt*transparent: true
!URxvt*shading: 15
URxvt*fading: 40
!URxvt*cursorColor:                   #004f9e
URxvt*scrollBar:                     false
URxvt*urgentOnBell:                  false
URxvt*visualBell:                    false
URxvt*cursorUnderline:               true
URxvt*cursorBlink:                   true

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button: 1

URxvt*borderLess:                    false

