[Desktop Entry]
Version=0.1
Name=FirefoxDeveloperEdition
Comment=Firefox Developer Edition brings your core dev tools together with some powerful new ones that will extend your ability to work across multiple platforms from one place. It’s everything you’re used to, only better. And only from Firefox.
Exec=/home/stiven/src/firefox-dev/firefox
Icon=/home/stiven/src/firefox-dev/browser/icons/mozicon128.png
Terminal=false
Type=Application
Categories=WWW;Browser;Application;

