[Desktop Entry]
Version=0.1
Name=Mplayer
Comment=Mplayer
Exec=/usr/bin/mplayer
Icon=/home/stiven/src/dotfiles/icons/mplayer.png
Terminal=true
Type=Application
Categories=Audio;Video;Multimedia;Application;

